#parse("publico/header.vm")

<div class="card m-auto mt-3" style="max-width: 80%">
    <div class="card-header">
        <h4 class="font-weight-normal ">Enlaces</h4>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th style="max-width: 50%">Original</th>
                <th >Acortado</th>
                <th >Total Visitas</th>
                <th >Opciones</th>
            </tr>
            </thead>
            <tbody>
                #foreach($link in $links)
                <tr>
                    <td style="max-width: 50%">$link.original</td>
                    <td>$link.acortado</td>
                    <td>$link.visitas</td>
                    <td><a class="btn btn-primary" href="/ver/$link.id">Ver</a></td>

                    #if($usuario.rol == "admin")
                        <td><button class="btn btn-warning" onclick="eliminarEnlace($link.id)">Eliminar enlace</button></td>
                    #end
                #end
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    function eliminarEnlace(id){
        if(confirm("Desea eliminar enlace?")){
            window.location.href = "/eliminar/enlace/"+id;
        }
    }

</script>
#parse("publico/footer.vm")