#parse("publico/header.vm")

    <div class="card m-auto mt-4" style="max-width: 80%;">
        <div class="card-header">
            <form class="form" method="post" action="/acortarEnlace">
                <div class="input-group">
                    <label class="input-group-text" for="link">Enlace: </label>
                    <input type="text" class="form-control" placeholder="Ingrese enlace" id="link" name="link" required>
                    <button type="submit" class="btn btn-primary">Acortar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card m-auto mt-4" style="max-width: 80%;">
        <div class="card-header">
            <h4 class="font-weight-normal text-center">Enlaces Acortados</h4>

        </div>

        <table class="table">
            <tbody>
            #foreach($link in $links)
                <tr>
                    <td style="max-width: 50%"><p>$link.URL</p></td>
                    <td style="max-width: 40%"><a href="https://$link.URLAcostarda">$link.URLAcostarda</a></td>
                    <td style="max-width: 10%"><a class="btn btn-primary" href="/ver/$link.idEnlace">Ver</a></td>
                </tr>
            #end
            </tbody>
        </table>
        </div>

    </div>

<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('/js/serviceworkers.js', {scope: '/'}).then(function(registration) {
                // Notificando el registro del service workwe
                console.log('Registrando el servicio en el ambiente: ', registration.scope);
            }, function(err) {
                console.log('Service Worker falló el registro: ', err);
            });
        });
    }
</script>
#parse("publico/footer.vm")

